---
// styles
import "../styles/globals.scss";
import "animate.css";

import NavBar from "../components/NavBar.astro";
import AsideSlide from "../components/AsideSlide.astro";

import Home from "../components/sections/Home.astro";
import About from "../components/sections/About.astro";
import Work from "../components/sections/Work.astro";
import Projects from "../components/sections/Projects.astro";
import Contact from "../components/sections/Contact.astro";
import { mail, social } from "../utils/profile";

const res = await fetch(`https://api.github.com/repos/newtyf/newtyf-portfolio`);
const dataRepo = await res.json();

const resUser = await fetch(`https://api.github.com/users/newtyf`);
const dataUser = await resUser.json();

const { stargazers_count } = dataRepo;
const { followers } = dataUser;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin='anonymous'
    />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css'
    /><link
      href='https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto:wght@400;700&display=swap'
      rel='stylesheet'
    /><link
      href='https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap'
      rel='stylesheet'
    /><link
      href='https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap'
      rel='stylesheet'
    />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='description'
      content='I am a Fullstack Developer residing in Peru, with 3 years of
    experience in the software industry. Being the web my main
    development focus.'
    />
    <title>Newtyf</title>
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src='https://www.googletagmanager.com/gtag/js?id=G-X94KED5K67'
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-X94KED5K67");
    console.log("Google analytics charged succesfull");
  </script>
</html>
<body>
  <NavBar />
  <main>
    <div id='particles-js'></div>
    <Home />
    <About />
    <Work />
    <Projects />
    <Contact />
    <footer>
      <ul class='social-list'>
        {
          social.map((item) => (
            <li>
              <a rel="noopener"
                title='social-link'
                href={item.link}
                class='nav'
                target='_blank'
              >
                <i class={`bi bi-${item.title}`} />
                <span class="linkText--hide">{item.title}</span>
              </a>
            </li>
          ))
        }
      </ul>
      <a rel="noopener"
        href='https://github.com/newtyf/newtyf-portfolio-v2'
        target='_blank'
        class='nav'
        rel='noopener'
      >
        Designed & Built by Axel Muñoz
        <br />
        <span>
          {stargazers_count}
          <i class='bi bi-stars'></i>
        </span>
        |
        <span>
          {followers}
          <i class='bi bi-github'></i>
        </span>
      </a>
    </footer>
  </main>
  <AsideSlide />

  {/* FIXED SOCIAL */}
  <div class='animate__animated animate__fadeInUpBig social icons'>
    <ul class='social-list'>
      {
        social.map((item) => (
          <li>
            <a rel="noopener"
              title='social-link'
              href={item.link}
              class='icon'
              target='_blank'
            >
              <i class={`bi bi-${item.title}`} />
              <span class="linkText--hide">{item.title}</span>
            </a>
          </li>
        ))
      }
    </ul>
    <div class='social-line'></div>
  </div>
  <div class='animate__animated animate__fadeInUpBig social mail'>
    <ul class='social-list reverse'>
      <li class='text-reverse'>
        <a rel="noopener" class='icon' href={`mailto:${mail}`}>
          {mail}
        </a>
      </li>
    </ul>
    <div class='social-line'></div>
  </div>
</body>

<script
  src='https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js'
  onload={}
></script>
<script>
  import { ShowContentScroll } from "../helpers/ShowContentScroll";
  window.particlesJS.load("particles-js", "/particles.json", function () {
    console.log("callback - particles.js config loaded");
  });
  ShowContentScroll();
</script>
