---
import "../styles/globals.scss";
import NavBar from "../components/NavBar.astro";
import AsideSlide from "../components/AsideSlide.astro";

import Home from "../components/sections/Home.astro";
import About from "../components/sections/About.astro";
import Work from "../components/sections/Work.astro";
import Projects from "../components/sections/Projects.astro";
import Contact from "../components/sections/Contact.astro";
import { mail, social } from "../utils/profile";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin='anonymous'
    />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css'
    /><link
      href='https://fonts.googleapis.com/css2?family=Finger+Paint&family=Roboto:wght@400;700&display=swap'
      rel='stylesheet'
    /><link
      href='https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap'
      rel='stylesheet'
    /><link
      href='https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap'
      rel='stylesheet'
    />
    <meta name='generator' content={Astro.generator} />
    <title>Newtyf</title>
  </head>
</html>
<body>
  <NavBar />
  <main>
    <div id='particles-js'></div>
    <Home />
    <About />
    <Work />
    <Projects />
    <Contact />
  </main>
  <AsideSlide />

  {/* FIXED SOCIAL */}
  <div class='animate__animated animate__fadeInUpBig social icons'>
    <ul class='social-list'>
      {
        social.map((item) => (
          <li>
            <a
              title='social-link'
              href={item.link}
              class='icon'
              target='_blank'
            >
              <i class={`bi bi-${item.title}`} />
            </a>
          </li>
        ))
      }
    </ul>
    <div class='social-line'></div>
  </div>
  <div class='animate__animated animate__fadeInUpBig social mail'>
    <ul class='social-list reverse'>
      <li class='text-reverse'>
        <a class='icon' href={`mailto:${mail}`}>
          {mail}
        </a>
      </li>
    </ul>
    <div class='social-line'></div>
  </div>
</body>

<script
  src='https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js'
  onload={}
></script>

<script>
  import { ShowContentScroll } from "../helpers/ShowContentScroll";
  window.particlesJS.load("particles-js", "/particles.json", function () {
    console.log("callback - particles.js config loaded");
  });
  ShowContentScroll();
</script>
