---
import type { project } from "../types";

interface Props {
  project: project;
  rigth?: boolean;
}

const { project, rigth = false } = Astro.props;
---

<div
  class={rigth ? "projects-content reveal rigth" : "projects-content reveal"}
>
  <div class='projects-content__text'>
    <p class="projects-content__subtitle">Featured Project</p>
    <h3>
      <a href={project.liveSite} class='line' target='_blank'>
        {project.title}
      </a>
    </h3>
    <div class='description'>
      <p>{project.description}</p>
    </div>
    <ul class='tags'>
      {project.tags.map((tag) => <li>{tag}</li>)}
    </ul>
    <ul class='link-icons'>
      <li>
        <a href={project.github} class='icon' title='github' target='_blank'>
          <i class={`bi bi-github`}></i>
          <span class="linkText--hide">github</span>
        </a>
      </li>
      <li>
        {
          project.liveSite && (
            <a
              href={project.liveSite}
              class='icon'
              title='link to page'
              target='_blank'
            >
              <i class='bi bi-box-arrow-up-right' />
              <span class="linkText--hide">{project.title}</span>
            </a>
          )
        }
      </li>
    </ul>
  </div>
  <div class='projects-content__image'>
    <a href={project.liveSite} title='project link' target='_blank'>
      <img width={700} height={300} src={project.image} alt='project-photo' />
    </a>
  </div>
</div>
